<div id="main" class="reset">
  <div class="container content">
    <div class="row justify-content-center">
      <div class="reset-box col-lg-8 col-xl-6">
        <h2>Change Password</h2>
        <p>Enter a new password for your account</p>
        <form class="form-group" (ngSubmit)="reset()" #resetform="ngForm">
          <input [ngClass]="{'invalid': cpw.touched && cpassword !== password }" type="password" placeholder="New password" class="form-control input-form" id="password" name="password" required [(ngModel)]="password">
          <input [ngClass]="{'invalid': cpw.touched && cpassword !== password }" type="password" placeholder="Confirm password" class="form-control input-form" id="cPassword" name="cpassword" required [(ngModel)]="cpassword" #cpw="ngModel">
          <div *ngIf="cpw.touched && cpassword !== password" class="form-alert right">
            Passwords have to be equal!
          </div>
          <div class="button-wrapper">
            <button class="button" type="submit" [disabled]="!resetform.form.valid || password !== cpassword">Submit</button>
          </div>
          <div class="error-container" [hidden]="!this.error">
              <span class="error-container-text">{{ this.error }}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
