<div id="main" class="data-privacy">
    <div id="german-version" class="german-version">
        <markdown ngPreserveWhitespaces>
            # Datenschutzerklärung

            Wir informieren Sie nachfolgend gemäß den gesetzlichen Vorgaben des Datenschutzrechts (insb. gemäß BDSG und der europäischen Datenschutz-Grundverordnung ‚DSGVO‘) über die Art, den Umfang und Zweck der Verarbeitung personenbezogener Daten auf unserer Seite. Bezüglich der Definition von Begriffen wie etwa „personenbezogene Daten“ oder „Verarbeitung“ verweisen wir auf Art. 4 DSGVO.

            ## Verantwortlicher

             Adresse + Verantworliche Person - Betreiber der Seite>
            **E-Mail-Adresse: [mail@icebreaker.science](mailto:mail@icebreaker.science)

            ## Rechte der Nutzer und betroffenen Personen

            In Bezug auf die unten genauer aufgeführte Verarbeitung von Daten haben die Nutzer und betroffenen Personen folgende Rechte.

            ### 1. Recht auf Auskunft (Art. 15 DSGVO)

            Sie haben das Recht, von uns eine Bestätigung darüber zu verlangen, ob wir Sie betreffende personenbezogene Daten verarbeiten. Sofern dies der Fall ist, haben Sie ein Recht auf Auskunft über Ihre bei uns gespeicherten persönlichen Daten nach Art. 15 DSGVO. Dies beinhaltet insbesondere die Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer und die Herkunft ihrer Daten, sofern diese nicht direkt bei Ihnen erhoben wurden.

            ### 2. Recht auf Berichtigung (Art. 16 DSGVO)

            Sie haben ein Recht auf Berichtigung unrichtiger oder auf Vervollständigung richtiger Daten nach Art. 16 DSGVO.

            ### 3. Recht auf Löschung (Art. 17 DSGVO)

            Sie haben ein Recht auf Löschung Ihrer bei uns gespeicherten Daten nach Art. 17 DSGVO, es sei denn gesetzliche oder vertraglichen Aufbewahrungsfristen oder andere gesetzliche Pflichten bzw. Rechte zur weiteren Speicherung stehen dieser entgegen.

            ### 4. Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO)

            Sie haben das Recht, eine Einschränkung bei der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, wenn eine der Voraussetzungen in Art. 18 Abs. 1 lit. a) bis d) DSGVO erfüllt ist:

            - wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine Dauer bestreiten, die es dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen;
            - die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten ablehnen und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;
            - der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder
            - wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DS-GVO eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber Ihren Gründen überwiegen.

            ### 5. Recht auf Datenübertragbarkeit (Art. 20 DSGVO)

            Sie haben ein Recht auf Datenübertragbarkeit nach Art. 20 DSGVO, was bedeutet, dass Sie die bei uns über Sie gespeicherten personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format erhalten können oder die Übermittlung an einen anderen Verantwortlichen verlangen können.

            ### 6. Recht auf Widerspruch oder Widerspruch (Art. 21 DSGVO)

            Soweit die Verarbeitung auf Ihrer Einwilligung gemäß Art. 6 Abs. 1 S. 1 lit. a), Art. 7 DS-GVO beruht, haben Sie das Recht, die Einwilligung jederzeit zu widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung wird dadurch nicht berührt.

            Sie können der Verarbeitung Ihrer personenbezogenen Daten wie z.B. für Datenanalyse jederzeit widersprechen. Das Widerspruchsrecht können Sie kostenfrei ausüben.

            ### 7. Recht auf Beschwerde (Art. 77 DSGVO)

            Sie haben ein Recht auf Beschwerde bei einer Aufsichtsbehörde, sofern Sie der Ansicht sind, dass die Sie betreffenden Daten durch den Anbieter unter Verstoß gegen datenschutzrechtliche Bestimmungen verarbeitet werden.

            Die für uns zuständige Behörde ist:

            Der Landesbeauftragte für den Datenschutz und die Informationsfreiheit Rheinland-Pfalz

            Prof. Dr. Dieter Kugelmann

            Hintere Bleiche 34

            55116 Mainz

            Telefon: +49 (0) 6131 208-2449

            Telefax: +49 (0) 6131 208-2497

            Webseite:

            [https://www.datenschutz.rlp.de/](https://www.datenschutz.rlp.de/)

            E-Mail:

            [poststelle(at)datenschutz.rlp.de](javascript:linkTo_UnCryptMailto('ocknvq,rquvuvgnngBfcvgpuejwvb0tnr0fg');)

            **Informationen zur Datenverarbeitung**

            Nachfolgend informieren wir Sie über Art, Umfang, Zweck und Rechtsgrundlage der Erhebung, Verarbeitung und Nutzung personenbezogener Daten.

            ## Bereitstellung unserer Website und Erstellung von Logfiles

            Wenn Sie unsere Webseite lediglich informatorisch nutzen (also keine Registrierung und auch keine anderweitige Übermittlung von Informationen), erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten von Ihnen findet nicht statt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden Daten:

            - IP-Adresse
            - Datum und Uhrzeit des Abrufs
            - Browsertyp
            - Inhalt des Abrufs
            - Zugriffsstatus/HTTP-Statuscode
            - Datenmenge

            Rechtsgrundlage hierfür ist unser berechtigtes Interesse an der Datenverarbeitung nach

            Art. 6 Abs. 1 S.1 lit. f) DSGVO. Diese Daten dienen dem Zweck der nutzerfreundlichen, funktionsfähigen und sicheren Auslieferung unserer Website an Sie mit Funktionen und Inhalten sowie deren Optimierung und statistischen Auswertung.

            Wir speichern aus Sicherheitsgründen diese Daten in Server-Logfiles für die Speicherdauer von bis zu 14 Tagen. Nach Ablauf dieser Frist werden diese gelöscht oder zu Zwecken der wissenschaftlichen Auswertung anonymisiert, es sei denn wir benötigen deren Aufbewahrung zu Beweiszwecken bei Angriffen auf die Serverinfrastruktur oder anderen Rechtsverletzungen.

            ### Nutzerkonto erstellen

            Für die meisten Funktionalitäten unserer Seite benötigt man kein Nutzerkonto und es werden nur die oben angeführten Metadaten gespeichert. Wenn man jedoch Angebote erstellen oder Geräte bei anderen Nutzern anfragen möchte muss man für unserer Platform über das Registrierungsformular ein Nutzerkonto erstellen. Über die angegebene Emailadresse erfolgt anschließend eine einmalige Verifizierung, indem wir einen Aktivierungslink an diese versenden. Wird ein Nutzerkonto binnen 24 Stunden nicht verifiziert, werden alle dazugehörigen Daten umgehend gelöscht.

            Die Datenverarbeitung erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f) DSGVO. Der Seitenbetreiber hat ein berechtigtes Interesse daran, seine Webangebote und bereits registrierten Nutzer vor Missbrauch zu schützen. Des weiteren erfolgt die Erstellung eines Nutzerkontos durch Einwilligung gemäß Art. 6 Abs. 1 lit. a) DSGVO.

            ## Angebote einstellen und anpassen

            Auf unserer Internetseite können Sie Angebote zu Laborgeräten veröffentlichen. Sofern Sie dieses Angebot in Anspruch nehmen, verarbeiten und veröffentlichen wir Ihren Beitrag zusammen mit der angegebenen Institution im Nutzerkonto. Weitere Kontaktdaten werden nicht veröffentlicht; andere registrierte Nutzer können jedoch über ein Kontaktformular eine Nachricht an die von Ihnen hinterlegte Emailadresse schicken.

            Die Angabe dieser Daten ermöglicht die Vermittlung von Geräten. Rechtsgrundlage hierbei ist Art. 6 Abs. 1 lit. a) DSGVO. Die Einwilligung erteilen Sie uns durch Markieren der dazu vorgesehenen Checkbox am Ende des Angebotformulars. Sie können diese Einwilligung jederzeit per Mail an uns widerrufen, wir werden den Eintrag dann entfernen. Eine Vermittlung kann dann nicht mehr erfolgen.

            ## Kontaktanfragen und Vermittlung

            Sofern Sie per Kontaktformular oder E-Mail mit uns oder anderen Nutzern in Kontakt treten, werden die dabei von Ihnen angegebenen Daten zur Bearbeitung Ihrer Anfrage genutzt. Die Angabe der Daten ist zur Bearbeitung und Beantwortung Ihrer Anfrage erforderlich - ohne deren Bereitstellung können wir Ihre Anfrage nicht beantworten oder eine Vermittlung ermöglichen.

            Rechtsgrundlage für diese Verarbeitung ist Art. 6 Abs. 1 lit. a) DSGVO.

            Ihre Daten werden gelöscht, sofern Ihre Anfrage abschließend beantwortet worden ist und der Löschung keine gesetzlichen Aufbewahrungspflichten entgegenstehen, wie bspw. bei einer sich etwaig anschließenden Vertragsabwicklung.

            ## Nutzung von hCaptcha

            Wir nutzen “hCaptcha” auf unseren Websites. Anbieter ist die Intuition Machines, Inc., San Francisco, CA US (“IM”). Mit hCaptcha soll überprüft werden, ob die Dateneingabe auf unserer Webseite (z.B. in einem Kontaktformular) durch einen Menschen oder durch ein automatisiertes Programm erfolgt. Hierzu werden mit der hCaptcha Antwort die IP-Adresse, Zugriffsort und Zeitpunkt an IM weitergeleitet. Die Datenverarbeitung erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f) DSGVO. Der Seitenbetreiber hat ein berechtigtes Interesse daran, seine Webangebote vor missbräuchlicher automatisierter Ausspähung und vor SPAM zu schützen. Bei Verwendung von hCaptcha stimmen Sie zudem der Datenschutzerklärung von IM zu. Weitere Informationen zu hCaptcha sowie die Datenschutzerklärung von IM entnehmen Sie den folgenden Link: [https://www.hcaptcha.com](hCaptcha)

            **Weitergabe personenbezogener Daten an Dritte und Auftragsverarbeiter**

            Ohne Ihre Einwilligung geben wir grundsätzlich keine Daten an Dritte weiter. Sollte dies doch der Fall sein, dann erfolgt die Weitergabe auf der Grundlage der zuvor genannten Rechtsgrundlagen z.B. aufgrund gerichtlicher Anordnung oder wegen einer gesetzlichen Verpflichtung zur Herausgabe der Daten zum Zwecke der Strafverfolgung, zur Gefahrenabwehr oder zur Durchsetzung der Rechte am geistigen Eigentum.

            Wir setzen zudem Auftragsverarbeiter (externe Dienstleister zum Webhosting unserer Webseite, Datenbanken und Emailserver) zur Verarbeitung Ihrer Daten ein. Wenn im Rahmen einer Vereinbarung zur Auftragsverarbeitung an die Auftragsverarbeiter Daten weitergegeben werden, erfolgt dies immer nach Art. 28 DSGVO. Wir wählen dabei unsere Auftragsverarbeiter sorgfältig aus, kontrollieren diese regelmäßig und haben uns ein Weisungsrecht hinsichtlich der Daten einräumen lassen. Zudem müssen die Auftragsverarbeiter geeignete technische und organisatorische Maßnahmen getroffen haben und die Datenschutzvorschriften gem. BDSG und DSGVO einhalten. Dieses Seite wird gehostet auf Servern der Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen, Deutschland. Die Vermittlung erfolgt ebenfalls über unseren Mailserver bei der Hetzner Online GmbH.

            ### Datenübermittlung in Drittstaaten

            Durch die Verabschiedung der europäischen Datenschutz-Grundverordnung (DS-GVO) wurde eine einheitliche Grundlage für den Datenschutz in Europa geschaffen. Sollte die Verarbeitung durch Dienste Dritter außerhalb der Europäischen Union oder des Europäischen Wirtschaftsraums stattfinden, so müssen diese die besonderen Voraussetzungen der Art. 44 ff. DS-GVO erfüllen. Das bedeutet, die Verarbeitung erfolgt aufgrund besonderer Garantien, wie etwa die von der EU-Kommission offiziell anerkannte Feststellung eines der EU entsprechenden Datenschutzniveaus oder der Beachtung offiziell anerkannter spezieller vertraglicher Verpflichtungen, der so genannten „Standardvertragsklauseln“. Bei US-Unternehmen erfüllt die Unterwerfung unter das sog. „Privacy-Shield“, dem Datenschutzabkommen zwischen der EU und den USA, diese Voraussetzungen.

            Ihre Daten werden ausschließlich von Unternehmen verarbeitet, für die die DSGVO Anwendung findet oder im Rahme der Nutzung von Google reCAPTCHA (s.o) dem Privacy-Shield beigetreten sind.

            ## Löschung von Daten und Speicherdauer

            Sofern nicht in dieser Datenschutzerklärung ausdrücklich angegeben, werden Ihre personenbezogen Daten gelöscht oder gesperrt, sobald die zur Verarbeitung erteilte Einwilligung von Ihnen widerrufen wird oder der Zweck für die Speicherung entfällt bzw. die Daten für den Zweck nicht mehr erforderlich sind, es sei denn deren weitere Aufbewahrung ist zu Beweiszwecken erforderlich oder dem stehen gesetzliche Aufbewahrungspflichten entgegenstehen (Art. 6 Abs. 1 S. 1 lit. c) DSGVO). Wenn die vorgeschriebene Aufbewahrungsfrist abläuft, erfolgt eine Sperrung oder Löschung Ihrer Daten, es sei denn die Speicherung ist weiterhin für einen Vertragsabschluss oder zur Vertragserfüllung erforderlich.

            ## Bestehen einer automatisierten Entscheidungsfindung

            Wir setzen keine automatische Entscheidungsfindung oder ein Profiling ein.
        </markdown>
    </div>
</div>
