<div id="main">
  <div class="container-fluid content">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h2 class="text-center">Devices</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="filter-container col-10">
        <div class="filter-container-inner">
          <label for="filter">Filter: </label>
          <input type="text" class="form-control input-form" id="filter" name="filter" [(ngModel)]="filter" (input)="onFilterChange()">
        </div>
      </div>
    </div>
      <div class="row justify-content-center">
        <div class="device-container col-lg-10">
          <div class="device-element" *ngFor="let d of devices$ | async | stringFilter: filter | paginate: config;">
            <div class="device-element-img">
              <div class="device-element-img-inner"></div>
            </div>
            <div class="device-element-content">
              <h4 class="device-element-headline">{{ d.title }}</h4>
              <p class="device-element-desc">{{ d.description.length > 100 ? d.description.slice(0,100) + '...' : d.description }}</p>
              <a [routerLink]="['/wiki-page', d.id]">
                <button class="btn btn-info">More</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <pagination-controls id="device_pagination"
                             (pageChange)="onPageChange($event)"
        ></pagination-controls>
      </div>
  </div>
</div>

