@import "../../scss/helper/variables";

.filter-container {
  &-inner {
    max-width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;

    .input-form {
      height: 40px;
    }
  }
}

.header {
  padding-top: 40px;
  padding-bottom: 20px;
  background: $highlightAreaBackgroundBlue;

  h2 {
    margin-top: 0;
  }
}

.device-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  .device-element {
    position: relative;
    width: 600px;
    margin: 0.5rem 0.5rem 1rem;

    &-img {
      position: relative;
      width: fit-content;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -25px;
      padding: 0 1rem;
      z-index: 1;
    }

    &-content {
      height: 212px;
      padding: 2rem 0.5rem 0.5rem;
      border: 1px solid $lightgrey;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }

    &-headline {
      text-align: center;
      margin-bottom: 1rem;
    }

    &-desc {
      overflow: hidden;
    }
  }
}

.pagination {
  margin-top: 50px;
}
