<nav id="header" class="header" [ngClass]="{'open' : navOpen}">
  <div class="header-bar">
    <a class="header-logo" routerLink="/">
      <img alt="Logo" src="/assets/img/logo.png">
    </a>
    <a class="header-toggle" (click)="toggleNav()">
      <span class="header-toggle-first"></span>
      <span class="header-toggle-second"></span>
      <span class="header-toggle-third"></span>
    </a>
  </div>
  <div class="header-inner">
    <div class="header-nav">
      <ul class="header-list">
        <li class="header-list-item">
          <a class="header-link" routerLink="/device-search">Devices</a>
        </li>
        <li class="header-list-item">
          <a class="header-link" routerLink="/network">Browse Network</a>
        </li>
        <li class="header-list-item">
          <a class="header-link" routerLink="/">About Us</a>
        </li>
      </ul>
    </div>
    <div class="header-profile">
      <a [hidden]="userName" class="header-profile-link login" routerLink="/login">Log In</a>
      <a [hidden]="!userName" class="header-profile-username" routerLink= "/settings/profile"> {{ userName }} </a>
      <a [hidden]="!userName" class="header-profile-link logout" (click)="logout()">Log Out</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 under-development">
      <p class="bigger">This website is under development!</p>
    </div>
  </div>
</div>
