<nav id="header" class="navbar navbar-expand-sm navbar-dark header">
  <a class="navbar-brand" routerLink="/">
    <img alt="Logo" src="/assets/img/logo.png" height="40" width="40">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li [hidden]="!userName" class="nav-item">
        <a class="nav-link" routerLink="/device-search">Search Devices</a>
      </li>
      <li [hidden]="!userName" class="nav-item">
        <a class="nav-link" routerLink="/device-creation">Add Device</a>
      </li>
      <li [hidden]="userName" class="nav-item">
        <a class="nav-link" routerLink="/login">Log In</a>
      </li>
    </ul>
  </div>
  <div [hidden]="!userName" class="navbar-profile">
    <span class="navbar-profile-username">{{ userName }}</span>
    <a class="navbar-profile-logout" (click)="logout()">Log Out</a>
  </div>
</nav>
