<div id="main" class="wiki-page">
  <div class="container-fluid" *ngIf="wikiPage">
    <div class="row header">
      <div class="col-12">
        <h2>{{ wikiPage.title }}</h2>
      </div>
    </div>
    <div class="row content">
      <div *ngIf="this.infoMessage" class="info-container col-12">
        <span>{{ infoMessage }}</span>
      </div>
      <div class="col-xl-6 wiki-page-img">
        <img [src]="getImageSrc()" alt="">
      </div>
      <div class="col-xl-6 wiki-page-container">
        <div class="wiki-page-desc">
          <markdown ngPreserveWhitespaces>
            {{ wikiPage.description }}
          </markdown>
        </div>
        <div class="wiki-page-keywords">
          <h4>Keywords</h4>
          <div class="wiki-page-keywords__list">
            <div class="wiki-page-keywords__list__entry" *ngFor="let keyword of wikiPage.networkKeywords">
              {{ keyword }}
            </div>
          </div>
        </div>
        <div class="wiki-page-ref">
          <h4>References</h4>
          <markdown ngPreserveWhitespaces>
            {{ wikiPage.references }}
          </markdown>
        </div>
      </div>

    </div>
  </div>
  <div [ngSwitch]="wikiPage?.type">
    <app-wiki-page-device
      *ngSwitchCase="'device'"
      [wikiPage]="wikiPage"
      (msgSent)="setMessage($event);"
    >
    </app-wiki-page-device>
  </div>
</div>
