<div id="main" *ngIf="existingNetworkKeywords">
  <div class="container content">
    <div class="row">
      <div class="col-lg-12">
        <div class="device-creation-box">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <h2 class="text-center">Add device</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <form class="form-group col-lg-6 col-md-8" (ngSubmit)="submit()" #addDeviceForm="ngForm">
              <label for="title">Title: *</label>
              <input
                type="text" class="form-control input-form" id="title" name="title" required [(ngModel)]="device.title"
                placeholder="The name/model of the device"
              />
              <label for="description">Description: *</label>
              <textarea
                type="text" class="form-control input-form" id="description" name="description" required
                [(ngModel)]="device.description"
                placeholder="A brief description of the device: For example, what is the purpose of this device? Which properties does it have? Feel free to add links to official documentations."
              ></textarea>
              <label for="keywords">Keywords:</label>
              <div class="input-form keyword-container">
                <div class="keyword" *ngFor="let keyword of device.networkKeywords">
                  {{ keyword }}
                  <button (click)="removeKeyword(keyword)">x</button>
                </div>
                <input
                  #keywordInput
                  id="keywords"
                  type="text"
                  [ngbTypeahead]="searchKeyword"
                  (selectItem)="addKeyword($event, keywordInput)"
                />
              </div>
              <label for="references">References:</label>
              <textarea
                type="text" class="form-control input-form" id="references" name="references"
                [(ngModel)]="device.references"
                placeholder="Publications describing (the methods behind) the device"
              ></textarea>
              <label for="image">Image: (max {{ fileSizeLimit }}KB) </label>
              <input type="file" class="form-control input-form border-0" id="image" name="image"
              [(ngModel)]="device.image" (change)="handleFileInput($event.target.files)" accept="{{ fileTypesAllowed }}"/>
              <div class="error-container" *ngIf="this.imageError">
                <span class="error-container-text">{{ imageError }}</span>
              </div>
              <div class="error-container" [hidden]="!this.error">
                <span class="error-container-text">Something went wrong...</span>
              </div>
              <div class="button-wrapper">
                <button class="button" type="submit" [disabled]="!addDeviceForm.form.valid">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
