@import 'variables';

body {
  font-family: "Open Sans", sans-serif;
}

ul, ol {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;

  &.big {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  &.bigger {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }

  @media (max-width: 1199px) {
    &.big {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &.bigger {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }

  @media (max-width: 575px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

h1 {
  font-size: 3.125rem;
  margin-bottom: 1rem;

  @media (max-width: 1199px) {
    font-size: 2.5rem;
  }

  @media (max-width: 575px) {
    font-size: 2rem;
  }
}

h2 {
  margin: 2.5rem 0 1rem;
}

.input-form {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  padding: 8px 15px;
  height: 58px;
  border-radius: 8px;
  border: 2px solid $lightBlue;

  &.ng-touched.ng-invalid, &.invalid {
    border-color: $red;
  }

  &.half {
    display: inline-block;
    width: 49%;
    margin-right: 2%;

    &.last {
      margin-right: 0;
    }
  }

  @media (max-width: 1199px) {
    font-size: 1rem;
    padding: 8px 10px;
    height: 46px;

  }
}

.form-alert {
  color: $red;
  font-size: 0.7rem;
  margin-top: -1rem;

  &.right {
    left: 51%;
  }
}

.error-container {
  background-color: $lightRed;
  border: 1px solid $red;
  padding: 0.35rem 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  text-align: center;

  &-text {
    color: $red;
    font-size: 0.85rem;
  }
}

.info-container {
  background-color: $darkgreen;
  padding: 0.5rem 1.5rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  text-align: center;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: $white;
  text-align: center;
  vertical-align: middle;
  background-color: $blue;
  padding: 8px 50px;
  font-size: 1.25rem;
  line-height: 1.5;
  border: none;
  border-radius: 7px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  @media (max-width: 1199px) {
    padding: 6px 35px;
    font-size: 1rem;
  }

  &:hover:not(:disabled) {
    background-color: $lightBlue;
  }

  &:disabled {
    background-color: $lightgrey;
    cursor: not-allowed;
  }

  &-wrapper {
    margin: 1rem 0 0.5rem;
    text-align: center;
  }
}

.close-btn {
  display: block;
  height: 30px;
  width: 30px;
  background: url(../../assets/img/close-button.svg) center/20px 20px no-repeat;
}

/*
 *  Customize Bootstrap
 */

@media (min-width: 1441px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1400px;
  }
}
