/* SCSS RGB */
$loginBlue: rgba(219, 238, 245, 1);
$lightBlue: rgba(51, 116, 182, 1);
$blue: rgba(30, 76, 124, 1);
$darkblue: rgba(45, 70, 87, 1);
$lightgreen: rgba(245, 250, 255, 1);
$darkgreen: rgba(93, 189, 213, 0.2);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$lightRed: rgba(255, 0, 0, 0.2);
$red: rgba(255, 0, 0, 1);
$lightgrey: rgba(204, 204, 204, 1);
$grey: rgba(112, 112, 112, 1);
$highlightAreaBackgroundBlue: rgb(238, 249, 250);
