@import "../../../scss/helper/variables";

.wiki-device {
  &-hl {
    margin-top: 1rem;
    border-bottom: 1px solid $lightgrey;
  }

  &-subline {
    margin: 1.5rem 0;
  }

  &-offer {
    border-bottom: 1px solid $lightgrey;

    &:last-child {
      border-bottom: none;
    }

    h4 {
      margin: 1.5rem 0;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 991px) {
    &-offer {
      &-button {
        margin-bottom: 1rem;
      }
    }
  }
}
