<app-contact-form
  [availability]="contactAvailability"
  [hidden]="!contactForm"
  (hide)="closeContactForm();"
  (msgSent)="sendContactForm();"
>
</app-contact-form>
<app-availability-add
  [availability]="addAvailability"
  [hidden]="!addForm"
  (hideAdd)="closeAddForm();"
  (addMsgSent)="sendAddForm();"
>
</app-availability-add>
<div class="wiki-device">
  <div class="wiki-device-offer-button">
    <button [hidden]="!isLoggedIn" type="button" class="btn btn-outline-success" (click)="openAddForm(wikiPage.id)">
      I know this device!
    </button>
  </div>
  <p><b>These institutes can help you with this device:</b></p>

  <div *ngIf="deviceAvailabilities && deviceAvailabilities.length === 0" class="col-12 wiki-device-subline">
    <p>This device is currently not offered by any institution</p>
  </div>
  <div *ngFor="let availability of deviceAvailabilities" class="row wiki-device-offer">
    <div class="col-md-10">
      <h5>{{ availability.profile.fullName }} from {{ availability.availability.institution }}</h5>
      <p>{{ availability.availability.comment }}</p>
    </div>
    <div class="col-md-2 wiki-device-offer-button">
      <button type="button" class="btn btn-primary" (click)="openContactForm(availability)">Contact</button>
    </div>
  </div>
</div>
