<div id="main" class="signup">
  <div class="container content">
    <div class="row">
      <div class="col-lg-12">
        <div class="signup-box">
          <div class="row">
            <div class="col-lg-6">
              <div class="signup-img">
                <h1 class="signup-img-hl">Join icebreaker.science and be part of chemical bonding</h1>
                <img class="signup-img-big" src="assets/img/welcome_img.png">
              </div>
            </div>
            <form class="form-group col-lg-6" (ngSubmit)="newUser()" #registerForm="ngForm">
              <input type="text" placeholder="Title" class="form-control input-form half" id="title" name="title" [(ngModel)]="user.profile.title">
              <input type="text" placeholder="First Name *" class="form-control input-form half" id="firstname" name="firstname" required #firstname="ngModel" [(ngModel)]="user.profile.forename">
              <div [hidden]="firstname.valid || firstname.untouched" class="form-alert">
                This field is required.
              </div>
              <input type="text" placeholder="Last name *" class="form-control input-form half last" id="lastname" name="lastname" required #lastname="ngModel" [(ngModel)]="user.profile.surname">
              <div [hidden]="lastname.valid || lastname.untouched" class="form-alert right">
                This field is required.
              </div>
              <input type="email" placeholder="Email *" class="form-control input-form" id="email" name="email" required email #mail="ngModel" [(ngModel)]="user.account.email">
              <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="form-alert">
                <div *ngIf="mail.errors.required">
                  This field is required.
                </div>
                <div *ngIf="mail.errors.email">
                  Please enter a valid email.
                </div>
              </div>
              <input  type="password" placeholder="Password *" class="form-control input-form" id="password" 
                      name="password" required #pw="ngModel" [(ngModel)]="user.account.password" minlength="8" maxlength="64">
              <div *ngIf="pw.invalid && (pw.dirty || pw.touched)" class="form-alert">
                  <div *ngIf="pw.errors.required">
                    This field is required.
                  </div>
                  <div *ngIf="pw.errors.minlength">
                    Password must be at least 8 characters long.
                  </div>
                  <div *ngIf="pw.errors.maxlength">
                    Password must not exceed 64 characters long.
                  </div>
              </div>
              <input type="text" placeholder="Institution *" class="form-control input-form half" id="institution" name="institution" required #inst="ngModel" [(ngModel)]="user.profile.institution">
              <div [hidden]="inst.valid || inst.untouched" class="form-alert">
                This field is required.
              </div>
              <input type="text" placeholder="City *" class="form-control input-form half last" id="city" name="city" required #metro="ngModel" [(ngModel)]="user.profile.city">
              <div [hidden]="metro.valid || metro.untouched" class="form-alert right">
                This field is required.
              </div>
              <input type="text" placeholder="Research Area" class="form-control input-form half" id="researchArea" name="researchArea" [(ngModel)]="user.profile.researchArea">
              <ng-hcaptcha id="captcha" name="captcha" required [(ngModel)]="user.captcha" (error)="onCaptchaError($event)"></ng-hcaptcha>
              <div class="error-container" [hidden]="!this.errors">
                <div *ngFor="let error of this.errors">
                  <span class="error-container-text">{{error}}</span>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button" type="submit" [disabled]="!registerForm.form.valid">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
