@import "../../scss/helper/variables";


.component-container {
  display: flex;
  // TODO The height of the header should not be hard coded. How is the height currently defined? Is there a variable that can be reused?
  height: calc(100vh - 66px); // The height of the screen minus the header
}


.network-tooltip {
  position: absolute;
  width: 200px;
  height: 80px;
  background: $white;
  border: 1px solid $darkblue;
}


.network-tooltip__title {
  font-weight: bold;
}


/* The left side */

.graph {
  border-right: 4px solid $lightgrey;
  flex-grow: 1;
}


/* The right side */

.panel {
  width: 400px;
  display: flex;
  flex-direction: column;
}


.selected-nodes {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 4px solid $lightgrey;
}


.reference-list__edge-name {
  font-weight: bold;
}


.reference-list {
  overflow: auto;
  margin-bottom: 20px;
}


.reference-list__paper {
  margin-top: 20px;
}


.reference-list__paper__doi a {
  color: $blue;
  text-decoration: underline;
}
