@import "../../scss/helper/variables";

.filter-container {
  &-inner {
    margin: 0 auto;
    max-width: 500px;
  }
}
#profile-row{
  background-color: #eef9fa;
}
.device-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .device-element {
    position: relative;
    width: 300px;
    margin: 0.5rem 0.5rem 1rem;

    &-img {
      position: relative;
      width: 100%;
      margin-bottom: -25px;
      padding: 0 1rem;
      z-index: 1;

      &-inner {
        background: url("/assets/img/device_placeholder.JPG") center center no-repeat #ffffff;
        width: 100%;
        height: 125px;
        border: 1px solid $blue;
        border-radius: 0.5rem;
      }
    }

    &-content {
      height: 212px;
      padding: 2rem 0.5rem 0.5rem;
      overflow: hidden;
      border: 1px solid $lightgrey;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &-headline {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}
