@import "../../scss/helper/variables";

.filter-container {
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;

  .input-form {
    height: 40px;
  }
}

#profile-row {
  background-color: $highlightAreaBackgroundBlue;
}

.profile-pic {
  display: inline;
  width: 10vw;
  height: 10vw;
  margin-right: 4vw;
  border-radius: 75%;
}

.device-container {
  display: flex;
  flex-direction: column;
}


.device-entry {
  padding: 10px 0;

  &:not(:first-child) {
    margin-top: 20px;
  }
}


.device-entry__title {
  font-size: 1.5rem;
  font-weight: 500;

  a {
    color: inherit;
  }
}


.device-entry__actions {
  margin-top: 15px;

  a {
    font-size: 0.8rem;
    text-decoration: underline;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}
