<app-availability-edit
  [availability]="editAvailability"
  [hidden]="!editForm"
  (hideEdit)="closeEditForm();"
  (editMsg)="sendEditForm();"
  [infoMessage]="this.infoMessage"
>
</app-availability-edit>
<app-availability-delete
  [availability]="deleteAvailability"
  [hidden]="!deleteForm"
  (hideDelete)="closeDeleteForm();"
  (deleteMsg)="sendDeleteForm();"
  [infoMessage]="this.infoMessage"
>
</app-availability-delete>
<div id="main">
  <div class="container-fluid content">
    <div class="row justify-content-center">
      <div class="row col-12 p-5 justify-content-center " id="profile-row" *ngIf="profile">
        <div class="col-8 justify-content-start ">
          <div>
            <p><b>{{titleDotCheck(profile.title)}} {{profile.forename + ' ' + profile.surname}}</b></p>
            <p>{{ profile.institution }}</p>
            <p>{{ profile.city }}</p>
            <p>{{ profile.researchArea }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center col-10">
      <div class="col-10">
        <h2>My devices</h2>
        <div class="filter-container">
          <input
            type="text" class="form-control input-form" id="filter" name="filter" [(ngModel)]="filter"
            placeholder="Search"
            (input)="onFilterChange()"
          />
        </div>

        <div class="device-container">
          <div
            *ngFor="let da of deviceAndAvailability$ | stringAvailFilter: filter;"
            class="device-entry"
          >
            <div class="device-entry__title">
              <a [routerLink]="['/wiki-page', da.availability.deviceId]">
                {{ da.device.title }}
              </a>
            </div>
            <div class="device-entry__comment">
              {{ da.availability.comment }}
            </div>
            <div class="device-entry__actions">
              <a (click)="openEditForm(da.availability)">Edit</a>
              <a (click)="openDeleteForm(da.availability)">Delete</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


