<div id="main">
  <div class="container-fluid content">
    <div class="row justify-content-center">
      <div class="row col-lg-8 border-top border-bottom p-2 justify-content-center">
        <div class="col-6 align-self-center  ">
          <span class=""> <p>{{profile.title + '.'}} {{profile.forename + ' ' + profile.surname}}</p></span>
          <span class="text-left">Institution: <p> {{profile.institution }}</p></span>
          <span class="text-left">City: <p>{{profile.city}}</p></span>
          <span class="text-left">Research area: <p>{{profile.researchArea}}</p></span>

        </div>


      </div>
      <div class="col-lg-12">
        <h2 class="text-center">Devices listed available by you</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="filter-container col-10">
        <div class="filter-container-inner">
          <label for="filter">Filter: </label>
          <input type="text" class="form-control input-form" id="filter" name="filter" [(ngModel)]="filter"
                 (input)="onFilterChange()">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="device-container col-lg-10">
        <div class="device-element"
             *ngFor="let avail of availabilities$ | stringAvailFilter: filter | paginate: config;">
          <div class="device-element-img">
            <div class="device-element-img-inner"></div>
          </div>
          <div class="device-element-content">
            <h4 class="device-element-headline">{{ avail.institution }}</h4>
            <p class="device-element-desc">{{getCommentText(avail.comment)}}</p>
            <a [routerLink]="['/wiki-page', avail.deviceId]">
              <button class="btn btn-info">More</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <pagination-controls id="device_pagination"
                           (pageChange)="onPageChange($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
