<div id="main" class="forgot">
  <div class="container content">
    <div class="row justify-content-center">
      <div *ngIf="!this.submitted" class="forgot-box col-lg-8 col-xl-6">
        <h2>Forgot your Password?</h2>
        <p>Enter your email address to reset your password:</p>
        <form class="form-group" (ngSubmit)="forgot()" #forgotForm="ngForm">
          <input type="email" placeholder="Email" class="form-control input-form" id="email" name="email" required [(ngModel)]="email">
          <ng-hcaptcha id="captcha" name="captcha" required [(ngModel)]="captcha" (error)="onCaptchaError($event)"></ng-hcaptcha>
          <div class="button-wrapper">
            <button class="button" type="submit" [disabled]="!forgotForm.form.valid">Submit</button>
          </div>
          <div class="error-container" [hidden]="!this.error">
            <span class="error-container-text">{{ this.error }}</span>
          </div>
        </form>
      </div>
      <div *ngIf="this.submitted" class="forgot-submitted col-lg-8 col-xl-6 info-container">
        <span>An email has been sent to your email address. Please follow the instructions inside to reset your password.</span>
      </div>
    </div>
  </div>
</div>
