@import "../../scss/helper/variables";

.home {
  margin-top: 50px;
  color: $grey;

  .welcome {
    margin-bottom: 2rem;

    &-text {
      margin-top: 60px;
      &-hl {
        max-width: 625px;
      }

      &-desc {
        float: left;
        max-width: 625px;
        margin-right: 40px;
      }

      &-button {
        color: $white;
      }
    }

    &-img {
      img {
        width: 100%;
      }
    }
  }

  .overview {
    background-color: $lightgreen;
    padding: 4rem 0 1.5rem;
    margin-bottom: 5rem;

    &-container {
      min-height: 95px;
      margin-bottom: 2.5rem;
      align-items: center;

      &-desc {
        margin: 0;
      }
    }
  }

  .logo-container {
    text-align: center;

    &-element {
      margin-bottom: 3rem;

      img {
        width: 100%;
        max-width: 350px;
      }
    }
  }

  @media (max-width: 1440px) {
    .welcome {
      &-text {
        margin-top: 0;
      }
    }
  }

  @media (max-width: 991px) {
    margin-top: 25px;

    .welcome {
      &-row {
        display: flex;
      }

      &-text {
        &-hl {
          max-width: 100%;
        }

        &-desc {
          max-width: 100%;
        }
      }

      &-img {
        display: flex;
        align-items: center;
      }
    }
    .overview {
      &-container {
        &-img {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .welcome {
      &-img {
        display: none;
      }
    }
  }

  @media (max-width: 575px) {
    .welcome {
      text-align: center;

      &-text {
        &-desc {
          margin-right: 0;
        }
      }
    }
    .overview {
      &-container {
        text-align: center;

        &-img {
          margin-bottom: 1rem;

          img {
            width: auto;
          }
        }
      }
    }
  }
}
