@import "../../scss/helper/variables";

.home {
  .big-picture {
    height: 500px;
    background-image: url("https://via.placeholder.com/1920x500");
    background-size: cover;
    background-position: center;
  }
  .content {
    margin-top: -50px;
    padding-top: 75px;
    padding-bottom: 50px;
    background-color: $white;

    .welcome-box {
      text-align: center;
    }
  }
}
