<div id="main" class="home">
  <div class="welcome">
    <div class="container-md">
        <div class="row welcome-row">
        <div class="col-md-8 welcome-text">
          <h1 class="welcome-text-hl">Welcome to icebreaker.science</h1>
          <p class="welcome-text-desc">Connect with the local scientific community and accelerate research in chemical sciences.</p>
          <a class="welcome-text-button button">Get Started</a>
        </div>
        <div class="col-md-4 welcome-img">
          <img src="assets/img/welcome_img.png" alt="welcome">
        </div>
      </div>
    </div>
  </div>
  <div class="overview">
    <div class="container-md">
      <div class="row overview-container">
        <div class="col-sm-2 overview-container-img">
          <img src="assets/img/talking.png" alt="experts">
        </div>
        <p class="col-sm-10 overview-container-desc">
          Get in touch with experts in your area.<br>
          Need help? No problem! Most likely, there are experts nearby who you haven’t thought of yet. They would love to help you out.
        </p>
      </div>
      <div class="row overview-container">
        <div class="col-sm-2 overview-container-img">
          <img src="assets/img/puzzlepiece.png" alt="knowledge">
        </div>
        <p class="col-sm-10 overview-container-desc">
          Share your knowledge!<br>
          You are a specialist or on your way to become one. Well done! Help others with your expertise and present your findings with the community.
        </p>
      </div>
      <div class="row overview-container">
        <div class="col-sm-2 overview-container-img">
          <img src="assets/img/magnifying_glass.png" alt="methods">
        </div>
        <p class="col-sm-10 overview-container-desc">
          <span class="font-weight-bold">Discover new methods</span><br>
          Keep yourself updated with the latest findings in the world of chemistry.
        </p>
      </div>
    </div>
  </div>
  <div class="logo-container">
    <div class="container-md">
      <div class="row">
        <div class="col-12">
          <h1 class="logo-container-hl">Partner</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 logo-container-element">
          <a href="https://www.carl-zeiss-stiftung.de/" target="_blank">
            <img src="assets/img/logos/carl_zeiss_logo.png" alt="Carl-Zeiss-Logo">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
