<div id="main" class="home">
  <div class="welcome">
    <div class="container-md">
        <div class="row welcome-row">
        <div class="col-md-8 welcome-text">
          <h1 class="welcome-text-hl">Welcome to icebreaker.science</h1>
          <p class="welcome-text-desc bigger">Connect with the scientific community and explore chemistry.</p>
          <a class="welcome-text-button button">Get Started</a>
        </div>
        <div class="col-md-4 welcome-img">
          <img src="assets/img/welcome_img.png" alt="welcome">
        </div>
      </div>
    </div>
  </div>
  <div class="overview">
    <div class="container-md">
      <div class="row overview-container">
        <div class="col-sm-2 overview-container-img">
          <img src="assets/img/puzzlepiece.png" alt="knowledge">
        </div>
        <p class="col-sm-10 overview-container-desc big">
          <span class="font-weight-bold"><a routerLink="/device-search">Search for the right technology.</a></span><br>
          Inform yourself about different devices and promote your own expertise.
        </p>
      </div>
      <div class="row overview-container">
        <div class="col-sm-2 overview-container-img">
          <img src="assets/img/talking.png" alt="experts">
        </div>
        <p class="col-sm-10 overview-container-desc big">
          <span class="font-weight-bold">Connect with fellow researchers.</span><br>
          Contact experts in the community and seek out possible collaborations.
        </p>
      </div>
      <div class="row overview-container">
        <div class="col-sm-2 overview-container-img">
          <img src="assets/img/magnifying_glass.png" alt="methods">
        </div>
        <p class="col-sm-10 overview-container-desc big">
          <span class="font-weight-bold"><a routerLink="/network">Understand the bigger picture</a></span><br>
          Browse the interactive keyword network and discover popular methods in scientific publications.
        </p>
      </div>
    </div>
  </div>
  <div class="description">
    <div class="container-md">
      <div class="row col-12">
        <h2>About Icebreaker</h2>
        <p>
          With our new platform Icebreaker.science, we aim to showcase your expertise on methods and devices, enabling
          you to find cooperation partners in chemistry and related disciplines. This holds the potential to generate
          new collaborative research ideas.
        </p>
        <p>
          Almost every chemical problem requires exploration by qualitative or/and quantitative analysis. Scientists
          from various disciplines use many analytical methods daily; some are directly available in their labs or
          central analytics departments. This infrastructure covers mainly standard instrumentation. Some research
          questions, however, call for specialized devices, new methods, and external expertise. In these cases, it
          is important to find possible cooperation partners within the same institution or beyond. According to our
          survey (link to Community), over 70% of such collaborations come about through personal interactions
          (conferences, established contacts of professors/supervisors, lectures). However, the COVID-19 pandemic
          shows that digitization can and must establish alternatives here as well.
        </p>
        <p>
          In order to get a comprehensive picture of the situation, we created a survey that included questions about
          literature research and questions about general challenges in everyday research and during the COVID-19
          pandemic. A total of 127 participants from different universities took part in the survey.
        </p>
        <p style="text-align: center;">
          <img
            src="assets/img/homepage/participant-universities.png"
            alt="Universities of the participants"
            style="width: 300px;"
          />
        </p>
        <h4>Device sharing and networking during COVID-19</h4>
        <p>
          Due to difficult research conditions in the course of contact restrictions, inefficient laboratory
          occupancy, and lack of equipment availability, the participants observed a slowing down of exchange and
          networking. In particular, the young scientists criticized the limited informal exchange, the great
          uncertainty, and the limited ability to plan, which often led to time delays. Finding the right contact
          person and the appropriate method also proved to be particularly difficult. We suspect that researchers
          who are at the beginning of their scientific careers and do not yet have a large network and established
          contacts are particularly disadvantaged here.
        </p>
        <h4>Our new approach for knowledge discovery</h4>
        <p>
          Especially for students and doctoral candidates getting started with their research, having a roadmap
          would help them find their way into a new research topic. For this, we aim to create a new tool to
          visualize current research as a network, which can be explored. Through the exploration, new keywords
          and connections between fields can be discovered. Ideally, papers can be found directly through this
          process. Given our currently small database, this is not yet possible, but the network can be used in
          combination with conventional search platforms.
        </p>
        <h3>Community</h3>
        <p>
          According to our survey, over 70% of collaborations result from personal interaction in lectures,
          conferences, or with the help of professors and supervisors. However, the COVID-19 pandemic has
          severely limited in-person interaction. Therefore, we see a chance to support young scientists in
          building a platform, which holds all relevant information to find future collaborators.
        </p>
        <p>
          Icebreaker.science can help by providing:
        </p>
        <ul>
          <li>An overview of entire community</li>
          <li>A possibility to promote their expertise</li>
          <li>A way to meet and contact other experts and possible collaboration partners</li>
        </ul>
        <h3>Browse Network</h3>
        <p>
          Especially for students and doctoral candidates getting started with their research, having a roadmap
          would help them find their way into a new research topic. For this, we aim to create a new tool to
          visualize current research as a network, which can be explored. Through the exploration, new keywords
          and connections between fields can be discovered. Ideally, papers can be found directly through this
          process. Given our currently small database, this is not yet possible, but the network can be used
          in combination with conventional search platforms.
        </p>
        <p>
          So far it is possible to:
        </p>
        <ul>
          <li>Chose one of the provided fields</li>
          <li>Search or add interesting keywords to reduce graph and show relevant connections</li>
          <li>Click on edges to see linked papers</li>
        </ul>
        <h2>About The Team</h2>
        <p>
          Icebreaker.science is a non-profit project that aims to support researchers in the field of chemical science.
          We are a multi-disciplinary team from different universities – mostly located in Germany.
        </p>
        <div class="team">
          <div class="team__member" *ngFor="let member of team">
            <div class="team__member__image">
              <img src="assets/img/team/{{member.image}}" alt="Image of {{member.name}}" />
            </div>
            <div class="team__member__name">{{ member.name }}</div>
            <div class="team__member__short">{{ member.short }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
